doctype html
html
	head
		title= options.title
		script(src='/js/jquery-2.2.0.js')
		script(src='https://cdn.socket.io/socket.io-1.4.5.js')

		link(rel='stylesheet', href='/css/style.css')
	body
		block content
		block scripts
